<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>The Website in Maintenance. We will back soon.</p>
            
    {{> footer}}
  </body>
</html>
